PORT=3000
SITE_URL=https://patrickteck.media
PATRICK_TECH_STORE_URL=https://store.patrickteck.media
GOOGLE_ADSENSE_CLIENT=
GOOGLE_ADSENSE_SLOT_HERO=
GOOGLE_ADSENSE_SLOT_INLINE=
GOOGLE_ADSENSE_SLOT_MID=
